@tailwind base;
@tailwind components;
@tailwind utilities;

.my-btn{
    @apply cursor-pointer rounded-lg  hover:scale-110 bg-gray-300 hover:bg-gray-500 text-slate-800;
}
.my-img{
    @apply relative w-full h-full object-contain object-center;
}
.my-backdrop{
    backdrop-filter: blur(5px) brightness(.5) contrast(.95)!important;
    -webkit-backdrop-filter: blur(5px) brightness(.5) contrast(.95)!important;
}
.my-semi-title{
    @apply text-3xl font-semibold tracking-tight
}
.my-title{
    @apply text-4xl font-semibold tracking-tight
}
.my-text{
    @apply text-lg font-light tracking-wide
}
.my-subtext{
    @apply text-sm font-light tracking-wide
}
.my-infotext{
    @apply text-xs font-light tracking-wide
}

.my-textbox{
    @apply relative basis-full rounded bg-gray-400 focus:bg-gray-200 hover:bg-gray-200 focus:outline-none px-2 py-1 text-gray-900 focus:text-gray-800 hover:text-gray-800 delay-75 ;
}
.my-errorbox{
    @apply border-red-400 border-2;
}
.my-goodbox{
    @apply border-green-400 border-2;
}




/*Animation */
.SlideFromRight {
    animation: SlideFromRight .3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@keyframes SlideFromRight {
    0% {
        transform: translateX(20px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
